{% extends 'layout.html' %}

{% block import %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css"
          integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"
            integrity="sha512-mULnawDVcCnsk9a4aG1QLZZ6rcce/jSzEGqUkeOLy0b6q0+T6syHrxlsAGH7ZVoqC93Pd0lBqd6WguPWih7VHA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
            integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block title %}Radio Telemetry{% endblock %}

{% block style %}
    .jumbotron {
        background-color: #0073E6;
        color: #fff;
        padding: 40px 0;
    }
{% endblock %}

{% block body %}

    <div class="jumbotron text-center">
        <h1><b>Live Radio Telemetry</b></h1>
        <h2>Click buttons to ensure proper function and then to begin collecting data</h2>
    </div>
    <div class="row">
        <div class="col-3 col-offset-3">
            <form action="{{ url_for('index') }}" method="post">
                <input type="hidden" value="device_tested" name="device_tested">
                <button type="submit" class="btn btn-primary">Test Data Collection</button>
            </form>
        </div>
        {% if device_tested == true %}
            <div class="col-3 col-offset-3">
                <form action="{{ url_for('index') }}" method="get">
                    <button type="submit" class="btn btn-success">Begin Data Collection</button>
                </form>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas0"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas1"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas2"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            let contextList = [];
            let lineChartList = [];
            let configList = [];

            const elemList = document.querySelectorAll('canvas');

            for (let i = 0; i < elemList.length; i++) {
                let config = {
                    type: 'line',
                    data: {
                        labels: Array(30).fill(""),
                        datasets: [{
                            label: "Altitude",
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            data: Array(30).fill(null),
                            fill: false,
                        }],
                    },
                    options: {
                        responsive: true,
                        title: {display: true, text: 'Python Radio Telemetry'},
                        tooltips: {enabled: false},
                        hover: {mode: null},
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Time (s)'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Altitude (m)'
                                }
                            }]
                        }
                    }
                };
                configList.push(config);
            }

            elemList.forEach((elem, index) => {
                let context = elem.getContext('2d');
                contextList.push(context);
                lineChartList.push(new Chart(context, configList[index]));
            });

            const source = new EventSource("/chart-data");

            source.onmessage = function (event) {
                const data = JSON.parse(event.data);

                for (let i = 0; i < elemList.length; i++) {
                    if (configList[i].data.labels.length === 30) {
                    configList[i].data.labels.shift();
                    configList[i].data.datasets[0].data.shift();
                    }

                    configList[i].data.labels.push(data.time);
                    configList[i].data.datasets[0].data.push(data.value[i]);
                    lineChartList[i].update();
                }
            };
        });
    </script>



{% endblock %}
