{% extends 'layout.html' %}

{% block import %}
    <!-- Imports for CSS, JQuery, and JavaScript for chart -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css"
          integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
            integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block title %}Radio Telemetry{% endblock %}

{% block style %}
    .jumbotron {
        background-color: #0073E6;
        color: #fff;
        padding: 40px 0;
    }
    .form-group {display: ruby;}
    .btn {margin-bottom: 30px;}
{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1><b>Live Radio Telemetry</b></h1>
        <h2>Click the test button to ensure proper function and then press the data button to begin collecting data</h2>
        <h2>Press the reset button to restart application</h2>
    </div>
    <div class="row">
        {% if not (device_tested or take_data) or (not device_tested and take_data) %}
            <div class="col-md-3">
                <form action="{{ url_for('index') }}" method="post">
                    <input type="hidden" value="device_tested" name="device_tested">
                    <button type="submit" class="btn btn-primary">Test Data Collection</button>
                </form>
            </div>
        {% endif %}
        {% if device_tested and not take_data %}
            <div class="col-md-3">
                <form action="{{ url_for('index') }}" method="post">
                    <input type="hidden" value="take_data" name="take_data">
                    <button type="submit" class="btn btn-success">Begin Data Collection</button>
                </form>
            </div>
        {% endif %}
        {% if take_data and device_tested %}
            <div class="col-md-3 form-group">
                <button class="btn btn-primary" id="pause">Pause Application</button>
                <form action="{{ url_for('index') }}" method="post">
                    <input type="hidden" value="stop" name="stop">
                    <button type="submit" class="btn btn-warning">Stop Application</button>
                </form>
            </div>
            <div class="col-md-2 col-md-offset-7">
                <form action="{{ url_for('index') }}" method="post" id="reset" onsubmit="return confirmReset(event)">
                    <input type="hidden" value="reset" name="reset">
                    <button type="submit" class="btn btn-danger pull-right">Reset Application</button>
                </form>
            </div>
        {% endif %}
        {% if not device_tested and take_data %}
            <div class="col-md-2 col-md-offset-7">
                <form action="{{ url_for('download_data_csv') }}" method="get">
                    <button type="submit" class="btn btn-primary pull-right">Download Data</button>
                </form>
            </div>
        {% endif %}
    </div>
    {% if device_tested and take_data %}
        <div class="row">
        {% for i in range(3) %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <canvas id="canvas{{ i }}"></canvas>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% if not device_tested and take_data %}
        <div class="row>">
        {% for i in range(3) %}
            <div class="col-md-4 centered">
                <img src="/plot-png/{{ i }}" alt="telemetry plot">
            </div>
        {% endfor %}
        </div>
    {% endif %}
    <script>
        // function for dialog box of reset button
        function confirmReset(event) {
            let result = confirm("Are you sure you want to reset the application? This will result in all data being lost.");
            if (result !== true) {
                event.preventDefault();
            }
            return result;
        }

        // code for getting data to all graphs
        $(document).ready(function () {
            const titleList = ['Altitude', 'Temperature', 'Acceleration']
            const axisLabelList = ['Altitude (m)', 'Temperature (°F)', 'Acceleration (m/s²)']
            let contextList = [];
            let lineChartList = [];
            let configList = [];

            const elemList = document.querySelectorAll('canvas');

            for (let i = 0; i < elemList.length; i++) {
                let config = {
                    type: 'line',
                    data: {
                        labels: Array(30).fill(""),
                        datasets: [{
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            data: Array(30).fill(null),
                            fill: false,
                        }],
                    },
                    options: {
                        responsive: true,
                        title: {display: true, text: titleList[i]},
                        legend: {display: false},
                        tooltips: {enabled: false},
                        hover: {mode: null},
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Time (s)'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: axisLabelList[i]
                                }
                            }]
                        }
                    }
                };
                configList.push(config);
            }

            elemList.forEach((elem, index) => {
                let context = elem.getContext('2d');
                contextList.push(context);
                lineChartList.push(new Chart(context, configList[index]));
            });

            // change text of resume/pause button and start/stop data collection
            const pauseForm = document.getElementById('pause');
            let pause = false;

            pauseForm.addEventListener('click', () => {
                if (pauseForm.textContent === 'Pause Application') {
                    pauseForm.textContent = 'Resume Application';
                    pause = true;
                }
                else {
                    pauseForm.textContent = 'Pause Application';
                    pause = false;
                }
            })

            const source = new EventSource("/chart-data");

            source.onmessage = function (event) {
                if (pause === false) {
                    const data = JSON.parse(event.data);

                    for (let i = 0; i < elemList.length; i++) {
                        if (configList[i].data.labels.length === 30) {
                            configList[i].data.labels.shift();
                            configList[i].data.datasets[0].data.shift();
                        }

                        configList[i].data.labels.push(data.time);
                        configList[i].data.datasets[0].data.push(data.value[i]);
                        lineChartList[i].update();
                    }
                }
            };
        });
    </script>
{% endblock %}
