<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        {% block import %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        <style>
            footer {
                background-color: #333;
                color: #fff;
                padding: 20px 0;
                width: 100%;
                text-align: center;
                margin-top: 100px;
            }

            #body-content {min-height: 100vh;}

            body {overflow-x: hidden;}

            #flashed-messages {margin-top: 20px;}

            {% block style %}{% endblock %}

        </style>
    </head>
    <body>
        <div class="container-fluid" id="body-content">
        <div class="row" id="flashed-messages">
            <div class="col-md-12">
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-info">{{ message }}</div>
                {% endfor %}
            </div>
        </div>
        {% block body %}{% endblock %}
        </div>
        <div class="row" id="footer">
            <div class="col-md-12">
                <footer class="text-center">
                    <p>2024 Ethan Lowder</p>
                    <p>Contact: elowder@iwu.edu</p>
                </footer>
            </div>
        </div>
    </body>
</html>
